/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", Arial, sans-serif;
    background-color: #0f0f0f;
    color: whitesmoke

/* NAVIGATION */
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 40px;
    background-color: #111;
    border-bottom: 1px solid #222;
}

.navbar .logo img {
    height: 55px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: #e5e5e5;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    transition: 0.3s ease;
}

.nav-links a:hover,
.nav-links a.active {
    color: #c2a35d;
}

/* HERO */
.about-hero {
    position: relative;
    height: 350px;
    background: url("../assets/images/DriveHub Motors Hero Banner.png") center/cover no-repeat;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    text-align: left;
}

.about-hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.55);
}

.about-hero h1,
.about-hero p {
    position: relative;
    z-index: 2;
}

.about-hero h1 {
    font-size: 48px;
    font-weight: 700;
    color: #ffffff;
}

.about-hero p {
    font-size: 20px;
    margin-top: 10px;
    color: #d6d6d6;
}

/* ABOUT CONTENT */
.about-section {
    padding: 40px 10%;
}

.about-section h2 {
    color: #c2a35d;
    font-size: 32px;
    margin-bottom: 20px;
}

.about-section p {
    color: #d6d6d6;
    font-size: 17px;
    margin-bottom: 25px;
    line-height: 1.7;
}

.about-section h3 {
    margin-top: 30px;
    color: #c2a35d;
    font-size: 24px;
}

.about-section ul {
    margin-top: 15px;
    padding-left: 22px;
}

.about-section ul li {
    margin-bottom: 10px;
    color: #d6d6d6;
}

/* FOOTER */
footer {
    background-color: #111;
    padding: 20px;
    margin-top: 40px;
    text-align: left;
}

footer p {
    color: #777;
    font-size: 15px;
}
