/* styles index.css */
/* Styles the homepage(index.html) */
/* Handles hero section, feautured vehicles, call-to action buttons,banners and any homepage-specific components*
/* contains global/shared styles that are used across all pages*/
/* Defines variables (colors,spacing,border-radius,shadows) base styles (body,headings , buttons , links), and layout utilities (containers,grids)
/* Ensures consistent design lnguage across the website */
/* Write your code below */
/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", Arial, sans-serif;
    background-color: #0f0f0f;
    color: #e5e5e5;
}